<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更多信息</title>
    <link href="/style/foundation.min.css" type="text/css" rel="stylesheet"/>
    <link href="/style/detail.css" type="text/css" rel="stylesheet"/>
    <link type="text/css" href="/style/home.css" rel="stylesheet">
    <script type="text/javascript" src="/script/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/script/detail.js"></script>
</head>
<body>
    <header>
        <div class="header">
            <div class="header_title">
                <a class="title_url" href="/index">智能手机产品信息管理系统</a>
            </div>
        </div>
    </header>
    <div class="header_room"></div>