<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.aleaf.mapper.UserMapper">

    <sql id="table">USER</sql>

    <sql id="insertFields">number,name,password,salt,role_id,profession,phone,mail,reg_date,status</sql>
    <sql id="selectFields">id,number,name,password,salt,role_id,profession,phone,mail,reg_date,status</sql>

    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO
        <include refid="table"/>
        <trim prefix="(" suffix=")">
            <include refid="insertFields"/>
        </trim>
        <trim prefix="values" suffix=";">
            <foreach collection="userList" item="user" separator=",">
                <trim prefix="(" suffix=")">
                    #{user.number,jdbcType=VARCHAR},
                    #{user.name,jdbcType=VARCHAR},
                    #{user.password,jdbcType=VARCHAR},
                    #{user.salt,jdbcType=VARCHAR},
                    #{user.roleId,jdbcType=NUMERIC},
                    #{user.profession,jdbcType=VARCHAR},
                    #{user.phone,jdbcType=VARCHAR},
                    #{user.mail,jdbcType=VARCHAR},
                    #{user.regDate,jdbcType=TIMESTAMP},
                    #{user.status,jdbcType=NUMERIC}
                </trim>
            </foreach>
        </trim>
    </insert>

    <select id="selectByNumberList" parameterType="java.util.List" resultType="top.aleaf.model.User">
      SELECT
      <include refid="selectFields"/>
      FROM
      <include refid="table"/>
      WHERE number IN
      <foreach collection="numberList" item="number" open="(" close=")" separator=",">
          #{number}
      </foreach>
      ORDER BY id DESC,reg_date DESC
    </select>

</mapper>
