*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #E8E8E8;
    text-align: center;
}
#show_message{
    width:800px;
    height: 35px;
    margin:10px auto;
    font-size: 25px;
    font-weight: 700;
    color: snow;
    background-color: #3a945b;
    border: 1px dashed snow;
}
.page_hr{
    width: 90%;
    margin: 15px auto;
    border-color: snow;
}
table{
    width: 800px;
    height: auto;
    margin:0px auto;
    text-align: center;
}